body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fdfdfd;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar-left main sidebar-right"
    "extra main sidebar-right"
    "footer footer sidebar-right";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr 1fr auto;
  gap: 10px;
  padding: 10px;
  min-width: 1200px;
}

.block {
    padding: 15px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px;
}
.block1 {
  grid-area: header;
  background: #dbeafe;
  position: relative; 
}
.homeDishImg{
  width: 150px;           
  height: 150px;          
  object-fit: cover;          
  border-radius: 10px;   
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.block2 { grid-area: sidebar-left; background: #fef9c3; }
.block3 { grid-area: main; background: #fff; }
.block4 { grid-area: sidebar-right; background: #fde68a; }
.block5 { grid-area: extra; background: #f0fdf4; }
.block6 { grid-area: footer; background: #dbeafe; text-align: center; }

nav ul {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #d62828;
}
.gallery-list {
  list-style: none;       
  display: flex;          
  gap: 20px;              
  padding: 0;
  margin: 20px 0;
}

.gallery-list li {
  flex: 1;               
}

.gallery-list img {
    width: 300px;           
  height: 300px;          
  object-fit: cover;          
  border-radius: 10px;   
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
#photoOfTheMonth{
    width: 180px;
    height: 300px;
     object-fit: cover;          
  border-radius: 10px;   
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}
.slogan {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1e40af;
    font-style: italic;
}

.motto {
    font-size: 1.1rem;
    font-weight: bold;
    color: #334155;
    margin-bottom: 10px;
}